<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Freddy's Portfolio</h1>
    <h2>Here is some basic info about me:</h2>

    <p class="info">
        I am Frederik.
        A danish guy, who recently graduated from Solrød Gymnatium, with an average grade of about 11.
        This is equivalent to around B+ or A.
        I have a bunch of knowledge of programming, from previous studies, and now from the "100 days of code" program
        I also have a completed grade A math a-level exam, and a completed Cambridge IGCSE in maths.
    </p>

    <a href="{{ url_for('home') }}" class="back">Back</a>


</body>
</html>